.sellersPage {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.allSellers {
    display: flex;
    justify-content: space-between;
}

.allSellers table {
    text-align: center;
    background: #f3f3f3;
    border: 1px solid #bbb;
    padding: 1rem;
    border-radius: 10px;
    width: 80vw;
}

.allSellers table thead tr {
    font-size: 14px;
}

.editFields1 .viewSeller input,
.editFields1 .viewSeller select {
    padding: 0.5rem 1rem;
    font-size: 18px;
}

.viewHead {
    display: flex;
    align-self: flex-start;
    column-gap: 20px;
    align-items: center;
}

.activeSeller span {
    background-color: #05b171;
}

.passive span {
    background-color: #ea4444;
}

.activeSeller span,
.passive span {
    color: #fff;
    border-radius: 20px;
    padding: 0.2rem 0.5rem;
}



.container {
    /* opacity: 0.3; */
    position: relative;
}

.editFields1 {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    row-gap: 20px;
    width: 77vw;
    column-gap: 20px;
}

.viewSeller {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 335px;
}


.editAndCloseBtn {
    display: flex;
    column-gap: 20px;
}


.editBtn,
.closeBtn {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}


.editBtn {
    background-color: #05b171;
    transition: all 0.1s linear;
}

.closeBtn {
    background-color: #ea4444;
    transition: all 0.1s linear;
}

.information1 .closeBtn {
    display: none;
}

.editBtn:hover {
    background-color: #049660;
}

.closeBtn:hover {
    background-color: #c73a3a;
}

.addSellerBtn a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background: #4747fd;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.addSellerBtn {
    align-self: center;
}

.addSellerBtn a:hover {
    background-color: #0000fd;
}