.main {
	display: flex;
}

.app,
.donut {
	background: #f3f3f3;
	border: 1px solid #bbb;
	/* padding: 0 0.6rem; */
	margin: 1rem 0.6rem;
	border-radius: 10px;
	width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
}


.container {
	flex: 6;
	/* height: 100vh; */
	/* background-color: #161616; */
	background-color: #fff;
	/* background: linear-gradient(90deg, #00c9ff, #92fe9d); */
	padding: 0 0 1rem 0;
}

.top_info {
	display: flex;
	padding: 1rem;
}

.charts {
	display: flex;
	justify-content: space-evenly;
	padding: 1rem;
}

.section {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

.recentProducts img {
	height: 40px;
	width: 48px;
	border-radius: 10px;
}

.recentProducts,
.notification {
	background-color: #f3f3f3;
	border: 1px solid #bbb;
	margin: 0 1rem;
	border-radius: 10px;
	padding: 1rem;
	width: 37vw;
}

table {
	border-spacing: 0 10px;
}

table .action {
	text-align: center;
	cursor: pointer;
}

.StockOut {
	color: #ea4444;
}

.StockIn {
	color: #05b171;
}

.head td {
	font-weight: bold;
	font-size: 14px;
}

.recentProducts p {
	color: #6c757d;
	margin-bottom: 20px;
}

.recentProducts p a {
	color: #ff470d;
	text-decoration: none;
}

tbody tr td:first-child {
	border-left: 1px solid #00000020;
	border-radius: 5px 0 0 5px;
}

tbody tr td:last-child {
	border-right: 1px solid #00000020;
	border-radius: 0 5px 5px 0;
}

tbody tr td {
	padding: 0.5rem 1rem;
	border-top: 1px solid #00000020;
	border-bottom: 1px solid #00000020;
}

#action,
#action1,
#action2,
#action3 {
	display: none;
}

.drop {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
}

#action:checked~.dropDown,
#action1:checked~.dropDown1,
#action2:checked~.dropDown2,
#action3:checked~.dropDown3 {
	display: block;
}

.dropDown {
	display: none;
	position: absolute;
	background-color: #e9e9e9;
	padding: 0.5rem;
	border-radius: 10px;
	left: 369px;
	bottom: 170px;
	z-index: 3;
}

.dropDown1 {
	display: none;
	position: absolute;
	background-color: #e9e9e9;
	padding: 0.5rem;
	border-radius: 10px;
	left: 369px;
	bottom: 95px;
	z-index: 3;
}

.dropDown2 {
	display: none;
	position: absolute;
	background-color: #e9e9e9;
	padding: 0.5rem;
	border-radius: 10px;
	left: 369px;
	bottom: 22px;
	z-index: 3;
}

.dropDown3 {
	display: none;
	position: absolute;
	background-color: #e9e9e9;
	padding: 0.5rem;
	border-radius: 10px;
	left: 369px;
	bottom: 94px;
	z-index: 3;
}

.dropUl li,
.dropUl1 li,
.dropUl2 li,
.dropUl3 li {
	list-style: none;
	padding: 0.5rem;
}

.dropUl li a:hover,
.dropUl1 li a:hover,
.dropUl2 li a:hover,
.dropUl3 li a:hover {
	color: #ff470d;
}

.dropUl li a,
.dropUl1 li a,
.dropUl2 li a,
.dropUl3 li a {
	text-decoration: none;
	color: #000;
}

.notificationMain {
	display: flex;
	justify-content: space-between;
}

.notifi {
	display: flex;
	align-items: center;
	column-gap: 30px;
	cursor: pointer;
}


.notification {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.time {
	display: flex;
	align-items: center;
	color: #6c757d;
	column-gap: 5px;
}

.time svg {
	font-size: 15px;
}

.info {
	color: #ff470d;
	font-weight: bold;
	transition: all 0.1s linear;
}

.notifi:hover .info {
	color: #cc5833;
}

.user {
	background-color: #25c2e3;
	color: #fff;
	padding: 0.5rem;
	border-radius: 50%;
}

.storage {
	background-color: #fae442;
	color: #000;
	padding: 0.5rem;
	border-radius: 50%;
}

.file {
	background-color: #9932e7;
	color: #fff;
	padding: 0.5rem;
	border-radius: 50%;
}

.download {
	background-color: #05b171;
	color: #fff;
	padding: 0.5rem;
	border-radius: 50%;
}

.secure {
	background-color: #25c2e3;
	color: #fff;
	padding: 0.5rem;
	border-radius: 50%;
}

.readAllBtn,
.deleteAllBtn {
	display: flex;
	align-items: center;
	column-gap: 10px;
	padding: 0.8rem 1rem;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
}


.readAllBtn {
	background-color: #05b171;
	transition: all 0.1s linear;
}

.deleteAllBtn {
	background-color: #ea4444;
	transition: all 0.1s linear;
}

.readAllBtn:hover {
	background-color: #049660;
}

.deleteAllBtn:hover {
	background-color: #c73a3a;
}