.notification_main {
    display: flex;
}

.box {
    flex: 6;
}

.box .main {
    padding: 0.5rem 1rem;
}


.second_label {
    margin-top: 30px;
}

.content input {
    margin-top: 10px;
    height: 40px;
    padding-left: 10px;
}

.content button {
    width: 100px;
    margin-top: 20px;
    height: 35px;
    background-color: blue;
    color: white;
}

.content div {
    display: inline-block;
    width: 100px;
    clear: both;

    background-color: violet;

}

.content {
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main_cont {
    margin: 50px;
    border: 0.5px solid rgb(230, 227, 227);
}

.main_cont h3 {
    line-height: 50px;
    margin-left: 20px;
    height: 50px;
}

h1 {
    padding: 20px;
}

.input_notification {
    display: flex;
    margin-top: 40px;
    flex-direction: column;

}

.box {
    background-color: #fff;
}

.notificationContainer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
}

.notificationBox {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #f3f3f3;
    border: 1px solid #bbb;
    margin: 0 1rem;
    border-radius: 10px;
    padding: 1rem;
    width: 37vw;
    position: relative;
}

.notificationBox .notificationMain {
    justify-content: space-around;
}

.notificationMain h2 {
    padding-bottom: 13px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.notificationMain {
    border-bottom: 1px solid #919191;
}

.notificationMain h2:hover {
    color: #4747fd;
}

.notification1 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.notes1,
.alerts1 {
    flex-direction: column;
    row-gap: 20px;
}

.notes1,
.alerts1 {
    display: none;
}

.notesBtn {
    display: flex;
    column-gap: 10px;
    transition: all 0.1s linear;
    cursor: pointer;
}

.notesEdit,
.notesDelete {
    color: #ff470d;
}

.notesEdit:hover,
.notesDelete:hover {
    color: #cc5833;
}

.alerts {
    display: flex;
    align-items: center;
    column-gap: 30px;
    cursor: pointer;
}

.box .main_cont {
    background-color: #fff;
}

.pushBtn a {
    text-decoration: none;
    color: #fff;
    background: #4747fd;
    color: #fff;
    padding: 1rem;
    /* border-radius: 20px; */
    cursor: pointer;
    transition: all 0.1s linear;
}

.pushNotificationBox {
    position: absolute;
    top: 15%;
    right: 5%;
    padding: 1rem;
}

/* .pushBtn {
    background: #4747fd;
    color: #fff;
    padding: 1rem;
     border-radius: 20px;
cursor: pointer;
transition: all 0.1s linear;
} */

.pushBtn a:hover {
    background-color: #0000fd;
}

.pushNotificationHead {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

#notifiTitle,
#notifiDesc {
    padding: 0.5rem 1rem;
    font-size: 18px;
    outline: none;
}

.notificationTitle,
.notificationDes {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.mainNotifiContainer {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}