.categoriesPage {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.categories {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.categories table img {
    height: 80px;
    width: 97px;
    border-radius: 10px;
}

.categories table {
    text-align: center;
    background: #f3f3f3;
    border: 1px solid #bbb;
    padding: 1rem;
    border-radius: 10px;
    width: 81.2vw;
}

.categories table thead tr {
    font-size: 14px;
}


.news_main {
    display: flex;
}

.viewNewsHead {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.newsInput input,
.newsInput textarea {
    padding: 0.5rem 1rem;
    font-size: 18px;
    outline: none;
}

.newsInput {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.addCategoryBtn span {
    align-self: center;
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 10px;
    background: #4747fd;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s linear;
}

.addCategoryBtn:hover span {
    background-color: #0000fd;
}

.addCategory {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 21vw;
}

.addCategory select,
.addCategory input {
    padding: 0.5rem 1rem;
    font-size: 18px;
    outline: none;
}