.main {
    /* height: 50px; */
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(230, 227, 227);
    background-color: #f3f3f3;
    /* background-color: linear-gradient(90deg, #00c9ff, #92fe9d); */
    /* padding: 0.5rem 1rem; */
}

.notificationNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    top: -5px;
    font-size: xx-small;
    color: white;
    right: -5px;
    background-color: red;
    border-radius: 50%;
    width: 15px;
    position: absolute;
}

.container .main {
    padding: 0.5rem 1rem;
}

.main h1 {
    color: #6439fe;
    padding: 0 1rem;
    background: #fff;
}

.icon {
    margin-right: 15px;
    position: relative;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left input {
    /* outline: none;
    background: none;
    border: none;
    padding-left: 10px;
    color: #fff; */
    font-size: 17px;
    padding: 0.5rem;
    outline: none;
    border: none;
    background: #fff;
}

.left {
    /* border: 0.5px solid rgb(230, 227, 227);
    border-radius: 15px;
    margin-left: 20px;
    margin-top: 7px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px; */
    background: green;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    column-gap: 5px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #bbb;
}