.productsPage {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.sortAndActions {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
}

#sorting,
#itemNum {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid #e7e7e7;
    outline: none;
    transition: all 0.1s linear;
}

#sorting:focus,
#itemNum:focus {
    border: 2px solid #ffb7a0;
}

.actionBox {
    background: #4747fd;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid #4747fd;
    transition: all 0.1s linear;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.actionBox:hover {
    background-color: #0000fd;
}

.dropUl4 li {
    list-style: none;
    padding: 0.5rem;
}

.dropUl4 li a:hover {
    color: #0000fd;
}

.dropUl4 li a {
    text-decoration: none;
    color: #000;
}

#action4 {
    display: none;
}

.drop4 {
    position: relative;
    cursor: pointer;
}

#action4:checked~.dropDown4 {
    display: block;
}

.dropDown4 {
    display: none;
    position: absolute;
    background-color: #f5f4f4;
    padding: 0.5rem;
    border-radius: 10px;
    top: 46px;
    z-index: 3;
    right: 0px;
    width: 12vw
}

table img {
    height: 40px;
    width: 48px;
    border-radius: 10px;
}

.productsAndFilter {
    display: flex;
    justify-content: space-between;
}

.productsAndFilter table {
    text-align: center;
    background: #f3f3f3;
    border: 1px solid #bbb;
    padding: 1rem;
    border-radius: 10px;
    width: 50vw;
}

.productsAndFilter table thead tr {
    font-size: 14px;
}

.id {
    color: #ff470d;
}

.editIcon,
.deleteIcon {
    cursor: pointer;
}

.editIcon {
    color: #05b171;
}

.deleteIcon {
    color: #c73a3a;
}

.pageNum {
    /* background: #fff; */
    align-self: center;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.pageNum a,
.pageNum svg {
    cursor: pointer;
    transition: all 0.1s linear;
    background-color: #fff;
}

.pageNum a {
    text-decoration: none;
    padding: 0.5rem 0.9rem;
    color: #000;
}

.pageNum svg {
    padding: 0.5rem;
    color: #4747fd;
}

.active {
    background-color: #4747fd;
    color: #fff;
}

.pageNum a {
    font-size: 18px;
}

.pageNum a:hover,
.pageNum svg:hover {
    background-color: #4747fd;
    color: #fff;
}

.filterProducts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 25vw;
}

.addProductBtn a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.filterProducts h2 {
    color: #000;
}

.keywordFilter,
.categoryFilter,
.priceFilter,
.colorFilter {
    background-color: #f3f3f3;
    border: 1px solid #bbb;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.filters {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.filterHeading {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.categoriesCheckBox {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.allCategoryCheck,
.accessoriesCheck,
.phoneCheck,
.headPhoneCheck,
.cameraCheck {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.colorBox {
    display: flex;
    column-gap: 20px;
}

.searchBox {
    /* border: 1px solid #000; */
    display: flex;
    /* padding: 0 1rem 0 0; */
    border-radius: 11px;
    align-items: center;
}

.searchBox svg {
    height: 37px;
    /* width: 41px; */
    border-bottom: 2px solid #e7e7e7;
    border-top: 2px solid #e7e7e7;
    border-right: 2px solid #e7e7e7;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

#filter {
    height: 37px;
    width: 247px;
    border-radius: 10px 0 0 10px;
    border-top: 2px solid #e7e7e7;
    border-bottom: 2px solid #e7e7e7;
    border-left: 2px solid #e7e7e7;
    border-right: none;
    font-size: 18px;
    padding: 0 0rem 0 1rem;
    outline: none;
    transition: all 0.1s linear;
}

.priceInput {
    display: flex;
    border-radius: 11px;
    align-items: center;
}

#pricInput {
    border: 2px solid #e7e7e7;
    height: 37px;
    width: 100%;
    border-radius: 10px;
    font-size: 18px;
    padding: 0 0rem 0 1rem;
    outline: none;
    transition: all 0.1s linear;
}

#filter:focus {
    /* border-top: 2px solid #ffb7a0;
    border-bottom: 2px solid #ffb7a0;
    border-left: 2px solid #ffb7a0; */
    border: 2px solid #ffb7a0;
}

#pricInput:focus {
    border: 2px solid #ffb7a0;
}

.addProductBtn a {
    background: #4747fd;
    padding: 0.7rem;
    /* border-radius: 20px; */
    cursor: pointer;
    transition: all 0.1s linear;
}

.addProductBtn {
    align-self: center;
}

.addProductBtn a:hover {
    background-color: #0000fd;
}

#colorBox1,
#colorBox2,
#colorBox3,
#colorBox4,
#colorBox5,
#colorBox6 {
    position: relative;
}

#colorBox1:checked::after,
#colorBox2:checked::after,
#colorBox3:checked::after,
#colorBox4:checked::after,
#colorBox5:checked::after,
#colorBox6:checked::after {
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    background: url("data: image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3 6-6' /%3E%3C/svg%3E");
    z-index: 3;
}

#colorBox1::before {
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    top: 0;
    left: 0;
    background-color: #1fa0c6;
}

#colorBox2::before {
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    top: 0;
    left: 0;
    background-color: #008000;
}

#colorBox3::before {
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    top: 0;
    left: 0;
    background-color: rgb(198, 31, 170);
}

#colorBox4::before {
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    top: 0;
    left: 0;
    background-color: rgb(31, 198, 98);
}

#colorBox5::before {
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    top: 0;
    left: 0;
    background-color: rgb(157, 198, 31);
}

#colorBox6::before {
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    top: 0;
    left: 0;
    background-color: rgb(198, 123, 31);
}

.categoriesCheckBox input {
    position: relative;
}

.categoriesCheckBox input::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    top: -3px;
    left: -3px;
    background-color: #fff;
}


.categoriesCheckBox input:checked::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    top: -3px;
    left: -3px;
    border-radius: 4px;
    border: 1px solid #ff6e40;
    background: url("data: image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3 6-6' /%3E%3C/svg%3E");
    z-index: 3;
}

.categoriesCheckBox input:checked::before {
    background-color: #ff6e40;
}

table input[type='checkbox'] {
    position: relative;
}

table input[type='checkbox']::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
    top: 0px;
    left: -3px;
    background-color: #fff;
}


table input[type='checkbox']:checked::after {
    content: '';
    position: absolute;
    height: 16px;
    width: 16px;
    top: 0px;
    left: -3px;
    border-radius: 4px;
    border: 1px solid #ff6e40;
    background: url("data: image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' %3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3 6-6' /%3E%3C/svg%3E");
    z-index: 3;
}

table input[type='checkbox']:checked::before {
    background-color: #ff6e40;
}

.editProductName,
.editProductCate,
.editProductExpiry,
.editStockUnits,
.editProductPrice {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 21vw;
}

#modalProduct,
#modalCategory,
#modalExpiryDate,
#modalStock,
#modalPrice {
    padding: 0.5rem 1rem;
    font-size: 18px;
    outline: none;
}

#modal {
    /* height: 200px; */
    width: 600px;
    background-color: #c1c1c1;
    border-radius: 10px;
    /* position: absolute; */
    position: fixed;
    /* top: 202px;
    left: 445px; */
    display: none;
    padding: 1rem;
    /* display: flex; */
    flex-direction: column;
    row-gap: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.editFields2 {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}